<div class='col-md-4 overflow-hidden'>
  <div class='card overflow-auto mb-4 shadow-sm'>
    <img src='<%= video['thumbnail_url'] %>' class='card-img-top' alt='<%= video['title'] %>'>
    <div class='card-body'>
      <h5 class='card-title'><%= video['title'] %></h5>
      <div class='dropdown'>
      <% if playlists.any? %>
        <button class='btn btn-primary dropdown-toggle mb-2' type='button' id='dropdownMenuButton-<%= video['id'] %>' data-bs-toggle='dropdown' aria-expanded='false'>
          Add to playlist
        </button>
        <ul class='dropdown-menu' aria-labelledby='dropdownMenuButton-<%= video['id'] %>'>
          <% playlists.each do |playlist| %>
            <li><%= button_to playlist.name, playlist_videos_path(playlist, video: video), method: :post, class: 'dropdown-item' %></li>
          <% end %>
        </ul>
      <% else %>
        <%= link_to 'No Playlist available, Create One', new_playlist_path, class: 'btn btn-primary m-2' %>
      <% end %>
    </div>
      <p class='card-text overflow-y-auto'>
        <%= video['description'] %>
      </p>
      <div class='d-flex justify-content-between align-items-center'>
        <small class='text-muted'>Views: <%= video['views'] %></small>
      </div>
    </div>
  </div>
</div>
